.game-canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-canvas {
  border: 2px solid var(--medium-gray);
  background: var(--black);
  animation: fadeIn 0.4s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
